#zero_config_filter {
    padding-left: 350px;
}

.tbl_print {
    padding-left: 25%;
}

.tbl_eraser {
    margin-left: 15px;
}

.sidebar-nav #sidebarnav .sidebar-item.selected>.sidebar-link {
    border-radius: 0 60px 60px 0;
    color:
        #fff !important;
    background: linear-gradient(to right,
            #62afc2,#55afc5, #37aac7,
            #17a2c5);
    box-shadow: 0 7px 12px 0 rgba(95, 118, 232, .21);
    opacity: 1;
}

path {
    color: rgb(19, 112, 124);
}

rect {

    color: rgb(19, 112, 124);
}

line {
    color: rgb(19, 112, 124);
}

polyline {
    color: rgb(19, 112, 124);
}

circle {
    color: rgb(19, 112, 124);
}

.badge-primary {
    color: #fff;
    background-color: red;
}
.tbl_print {
    padding-left: 10%;
}
.fas.fa-print {
    color: #1c2d41;
}
.fas.fa-download {
    color: #1c2d41;
}
.tbl_print {
    padding-left: 3%;
    margin-left: 5%;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.col-lg-5 col-md-7 {
    background-color:rgb(143, 208, 216)
}

.col-lg-7 col-md-5 modal-bg-img{
    padding: 20px;
    box-shadow: 
        inset 0 -3em 3em rgba(0 , 0, 0, 0.1),
              0 0  0 2px rgb(255 , 255 , 255),
              0.3em 0.3em 1em rgba(0 , 0 , 0 , 0.3);  
 
}


